<!DOCTYPE html>
<!-- thymeleaf usado para integrar o html -->
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>XBM System</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
  <!-- Link de icones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
  </link>

</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/administrativo">XBM System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
  <!-- formulario -->
  <div class="container">
    <form action="/salvarFornecedor" th:object="${fornecedor}" method="POST">
      <div class="form-group">
        <div class="row">
          <!-- nome fornecedor -->
          <div class="col">
            <label for="nome">Nome do Fornecedor:</label>
            <input type="text" required class="form-control" id="nome" th:field="*{nome}" />
          </div>
          <!-- cpf da fornecedor -->
          <div class="col">
            <label for="cnpj">CNPJ:</label>
            <input type="text" required class="form-control" id="cnpj" th:field="*{cnpj}" />
          </div>
          <!-- telefone do fornecedor -->
          <div class="col">
            <label for="telefone">Telefone:</label>
            <input type="text" required class="form-control" id="telefone" th:field="*{telefone}" />
          </div>
        </div>
        <div class="row">
          <!-- email do fornecedor -->
          <div class="col">
            <label for="email">E-mail:</label>
            <input type="text" required class="form-control" id="email" th:field="*{email}" />
          </div>
        </div>
        <div class="row">
          <!-- endereco do fornecedor -->
          <div class="col">
            <label for="endereco">Endereço:</label>
            <input type="text" required class="form-control" id="endereco" th:field="*{endereco}" />
          </div>
          <!-- numero do fornecedor -->
          <div class="col">
            <label for="numero">Numero:</label>
            <input type="text" required class="form-control" id="numero" th:field="*{numero}" />
          </div>
        </div>
        <!-- bairro do fornecedor -->
        <div class="row">
          <div class="col">
            <label for="bairro">Bairro:</label>
            <input type="text" required class="form-control" id="bairro" th:field="*{bairro}" />
          </div>
          <!-- selecionar cidade -->
          <div class="col">
            <label for="">Cidade</label>
            <select th:field="*{cidade}" required class="form-control">
              <option th:each="cid:${ListaCidades}" th:value="${cid.id}" th:text="${cid.nome}"></option>
            </select>
          </div>
        </div>
      </div>
      <!-- butao salvar -->
      <a href=""><button type="submit" class="btn btn-primary" href="/cadastroFornecedor"><i class="fa-solid fa-floppy-disk"></i>
          Salvar
        </button></a>
      <!-- butao voltar -->
      <a class="btn btn-danger" href="/administrativo"><i class="fa-solid fa-share"></i> Voltar</a>
      <!-- butao lista -->
      <a class="btn btn-success" href="/listarFornecedor"><i class="fa-solid fa-list"></i>
        Lista
      </a>
    </form>
  </div>

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <!-- jquery mask -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#cnpj').mask('00.000.000/0001-00');
    });
    $(document).ready(function () {
      $('#telefone').mask('(00)0 0000-0000');
    });
  </script>

</body>

</html>